@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2"),
       url(../fonts/PTSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2"),
       url(../fonts/PTSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  color: #333;
  line-height: 26px;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}

.navigation-list, .navigation-user-list, .service-list, .social-list {
  list-style-type: none;
}
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}


.hero {
  background-color: #82B3D3;
  background: url(../images/hero-decorate.svg),url(../images/hero-background.jpg);
  background-position: bottom, center center;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
}


.advantages-item {
  list-style-type: none;
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}
.item-wide {
  background-color: #82B3D3;
  color: #fff;
}
.item-wide h3 {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
