@font-face {
  font-family: "Pt Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2"),
       url(../fonts/PTSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pt Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2"),
       url(../fonts/PTSans-Bold.woff) format("woff");
}

body {
  font-family: "Pt Sans";
  font-size: 18px;
  color: #000000;
  line-height: 18px;
  font-weight: 400;
}

.navigation-link {
  font-family: "Pt Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}
.search {
  background: url(../images/search.svg) 20px 20px no-repeat;
}

.count-hotels {
  background: url("../images/favorite.svg") 20px 20px no-repeat;
}
